
/****************/
/** 캐러셀의 높이와 하단 여백 확보 */
.carousel {
    height: 300px;
    margin-bottom: 30px;
}

/** 캐러셀 내부의 이미지에 대한 높이와 넓이 확보 */
.carousel-inner > .item{
    min-width: 100%;
    height: 300px;
}

/** 캐러셀 내부 내용 영역에 대한 배경 색상과 좌우 여백 확보 */
.carousel-inner .carousel-caption {
    padding-left: 10px;
    padding-right: 30px;
}

.carousel-caption{
text-align: left;
left: 0%;
bottom: 10%;

}
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;

}

.left >.icon-prev{
    -webkit-transform: scale(0.5,2);
    position: absolute;
    top: 100px;
}

.right >.icon-next {
    -webkit-transform: scale(0.5,2);
    position: absolute;
    top: 100px;
}
#carousel-example-generic .item {
    /*height: 500px;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*

div.item > img{
    background: url(/img/a1.jpg) no-repeat!important;
    background-size: cover;
    vertical-align: center;
}*/